<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>

<body>
    <div>
        <style scoped>
            .button-start 
            {
                color: white;
                background: Grey;
                border-radius: 4px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <button class="button-start pure-button" (click)="startGame()">Start</button>
    </div>

    <div class="grid-container child-div" [ngStyle]="{ 'width': dashboardWidth + 'px', 'height': dashboardHeight + 'px' }">
        <div *ngFor="let panel of panels" id="{{panel.id}}" class="grid"  [ngStyle]="{ 'width': sideLength + 'px', 'height': sideLength + 'px',
        'left': panel.left + 'px', 'top': panel.top + 'px', 'background-color': panel.colour }" 
        draggable="false" (click)="panelClicked(panel)" (mouseenter)="mouseEnter(panel)" (mouseleave)="mouseExit(panel)">
        </div>
    </div> 

    <!-- DEBUGGING -->
    <p>Timer: {{displayTime}}</p>
    <p>Your Rank: {{rank}}</p>
    <ol>
        <li *ngFor="let score of leaderboard">{{score}}</li>
    </ol>
    <!-- <p>{{startSec}}:{{startMili}}</p> -->

</body>


