.child-div {
	/* background-color: rgb(0, 183, 255); */
	position: absolute;
	width: 800px;
	height: 600px;
	margin: auto;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 0;
}

.grid {
	width: 200px;
	height: 200px;
	border-radius: 4px;
	border: 1px solid #4E4E4E;
	background-color: #530b0b;
	/* margin: 4px; */
	position: absolute;
	/* display: block; */
	display: inline-flex;
}

/* .grid:hover{
	background-color: #787878;
} */

